<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechcitySuite">

        <!-- Splash Screen - Now the launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TechcitySuite.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menu Activity - No longer the launcher -->
        <activity
            android:name=".MenuActivity"
            android:exported="false" />

        <!-- Your existing IMEI Search Activity (keeping the original name) -->
        <activity
            android:name="com.techcity.techcitysuite.MainActivity"
            android:exported="false"
            android:label="Phone Inventory" />

        <!-- Transaction Type Selection Activity -->
        <activity
            android:name="com.techcity.techcitysuite.TransactionTypeActivity"
            android:exported="false"
            android:label="Cash Transactions" />

        <!-- Transaction Details Activity -->
        <activity
            android:name="com.techcity.techcitysuite.TransactionDetailsActivity"
            android:exported="false"
            android:label="Transaction Details" />

        <!-- Ledger View Activity -->
        <activity
            android:name="com.techcity.techcitysuite.LedgerViewActivity"
            android:exported="false"
            android:label="Ledgers" />

        <!-- Device Transaction List Activity (NEW) -->
        <activity
            android:name="com.techcity.techcitysuite.DeviceTransactionListActivity"
            android:exported="false"
            android:label="Device Transactions" />

        <!-- Device Transaction Activity -->
        <activity
            android:name="com.techcity.techcitysuite.DeviceTransactionActivity"
            android:exported="false"
            android:label="Device Transaction" />

        <!-- Accessory Transaction Activity -->
        <activity
            android:name="com.techcity.techcitysuite.AccessoryTransactionActivity"
            android:exported="false"
            android:label="Accessory Transaction" />

        <!-- Program Settings Activity -->
        <activity
            android:name="com.techcity.techcitysuite.ProgramSettingsActivity"
            android:exported="false"
            android:label="Program Settings" />

        <activity
            android:name="com.techcity.techcitysuite.AccessoryTransactionListActivity"
            android:exported="false"
            android:label="Accessory Transactions" />

        <!-- Add this inside the <application> tag in AndroidManifest.xml -->

        <activity
            android:name=".ServiceTransactionListActivity"
            android:exported="false"
            android:label="Service Transactions"
            android:theme="@style/Theme.TechcitySuite" />

        <!-- Account Receivable Activity -->
        <activity
            android:name="com.techcity.techcitysuite.AccountReceivableActivity"
            android:exported="false"
            android:label="Account Receivable" />

        <activity
            android:name="com.techcity.techcitysuite.InHousePaymentActivity"
            android:exported="false"
            android:label="In-House Payment" />

    </application>

</manifest>